<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <assemblySettings>
    <add key="Primary Connection String" value="jSXFS92wQgcQT2aFlQ26En8tmqiyBMcZALVZIC+B/TEYD/ZfRRwqo86BXxT1mbxhA7M+aIMDADgCkpRmzw3adLdiWVkXHEti654u9zHJSeOZtWLdG9zhtkQa5+k+kv35XZY872pAhfWkcJPWJ9dmHnjeK/paI38ZRcBa99quF2QQO5u7tT46vjWehkZXgjIX" />
    <add key="Alternate Connection String" value="jSXFS92wQgcQT2aFlQ26En8tmqiyBMcZALVZIC+B/TEYD/ZfRRwqo86BXxT1mbxhA7M+aIMDADgCkpRmzw3adLdiWVkXHEti654u9zHJSeOZtWLdG9zhtkQa5+k+kv35XZY872pAhfWkcJPWJ9dmHnjeK/paI38ZRcBa99quF2QQO5u7tT46vjWehkZXgjIX" />
    <add key="Streets Connection String" value="jSXFS92wQgcQT2aFlQ26En8tmqiyBMcZALVZIC+B/TEYD/ZfRRwqo86BXxT1mbxhA7M+aIMDADgCkpRmzw3adGOiAGVt8gp0Iahov9/x0cQrfTsRrNDl3TChQEO5M1vrskvCcybE43RB2DCRcz4ZHq4mi1kfeyyc4UEhe5+uuU/YilUfDXiXGsCy2DC45LeJ" />
    <add key="Proxy Connection String" value="jSXFS92wQgcQT2aFlQ26En8tmqiyBMcZALVZIC+B/TEYD/ZfRRwqo86BXxT1mbxhwPsAKDZEaSfQnV6uHrjPpKrjxdMNnSuuLICglNvze/0xKaHJZMfCrLE/4tjxnC0c5ZOOFwH8PuCYBirO0IYVpobGQEBgdXPl/xpGePYTJM8=" />
    <add key="Messaging Connection String" value="jSXFS92wQgcQT2aFlQ26En8tmqiyBMcZALVZIC+B/TEYD/ZfRRwqo86BXxT1mbxhpZCJm82cPrj10aFQzojK1k71B6JRheQNplHy0CymZxnivSxjvQm/YGIN8ocrsKYfkpU933KBka8yA3EnMlhdpJP7M034zf5YtOoe39Rp58w=" />
    <add key="Document Connection String" value="jSXFS92wQgcQT2aFlQ26En8tmqiyBMcZALVZIC+B/TEYD/ZfRRwqo86BXxT1mbxhpYAXH5G4TSCv74UYp7KNLxfD4SRHCuQPuS0dCv3Imet2m0bMLqVWY0DhjbvuerMoZLwUBZevQuGAoZPDPDrAOw5ivzFp6FkTgcAzS90AR+I=" />
    <add key="Log Connection String" value="jSXFS92wQgcQT2aFlQ26En8tmqiyBMcZALVZIC+B/TEYD/ZfRRwqo86BXxT1mbxh+JoYU2Wffle+oeTbDFfQSBwJO6T1n4PxWgQ5AkdO7vo6ip35ekUYTnlw27fgZimPjmXEuy6J4nKnOcMaghK2zjggCh5BoM7Z6Y/FllaldlE=" />
  </assemblySettings>
</configuration>