<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <assemblySettings>
    <add key="Primary Connection String" value="Server=TSTA2ASKEN101;Database=CAD_System;uid=tritech;pwd=europa" />
    <add key="Alternate Connection String" value="Server=TSTA2ASKEN101;Database=CAD_System;uid=tritech;pwd=europa" />
    <add key="Streets Connection String" value="Server=TSTA2ASKEN101;Database=CAD_Streets;uid=tritech;pwd=europa" />
    <add key="Proxy Connection String" value="Server=TSTA2ASKEN101;Database=Proxy;uid=tritech;pwd=europa" />
    <add key="Messaging Connection String" value="Server=TSTA2ASKEN101;Database=Messaging;uid=tritech;pwd=europa" />
    <add key="Document Connection String" value="Server=TSTA2ASKEN101;Database=Document;uid=tritech;pwd=europa" />
    <add key="Log Connection String" value="Server=TSTA2ASKEN101;Database=Log;uid=tritech;pwd=europa" />
  </assemblySettings>
</configuration>