<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <assemblySettings>
    <add key="Primary Connection String" value="7IvQruF88lJSSLF7uiELezGzJB761XK322oB7tZsVgM0O6w4vdOmxPXjM8St4SdBOAZr51BEtx+GKxnFQ0iDhjliTOhb/a4XX/qy0w2Jld+Dark/HK1sixPvkg4uYqqLJFjod/HNSL6NONGCapvBj1+3BnoVD3lWwTBvNx/g/IR8xpN1d0oA5tlxB6FW1n9R" />
    <add key="Alternate Connection String" value="7IvQruF88lJSSLF7uiELezGzJB761XK322oB7tZsVgM0O6w4vdOmxPXjM8St4SdBOAZr51BEtx+GKxnFQ0iDhjliTOhb/a4XX/qy0w2Jld+Dark/HK1sixPvkg4uYqqLJFjod/HNSL6NONGCapvBj1+3BnoVD3lWwTBvNx/g/IR8xpN1d0oA5tlxB6FW1n9R" />
    <add key="Streets Connection String" value="7IvQruF88lJSSLF7uiELezGzJB761XK322oB7tZsVgM0O6w4vdOmxPXjM8St4SdBhbcVAe9ptA7hbkoGuAEidwhRNFC9nLw0fCO1Fuzsa5TpfYU7ZudjE8nSoLytGy9qVn1kOzHOo1j3tims4KUMgSPhHZd53NeuhZtfvlkMOcU=" />
    <add key="Proxy Connection String" value="7IvQruF88lJSSLF7uiELezGzJB761XK322oB7tZsVgM0O6w4vdOmxPXjM8St4SdBQPYbv70ExvUQ1Y/TLio+bF327HF+Qm/MP1VdSnDrLL59C2XyGf+s8S3Jj5S61TkOAKJpLZhR9T10hlv//Q6wgw==" />
    <add key="Messaging Connection String" value="7IvQruF88lJSSLF7uiELezGzJB761XK322oB7tZsVgM0O6w4vdOmxPXjM8St4SdBDhUgc2PLixGKRv1Ck1+t0ltLVKFeONcB46GKhdDKtg5gx8ggfZLgmz8gPij4BPv38hLiCHxMDYbn8Zg730b9KXftlizTG+e/L2arVRpOGBw=" />
    <add key="Document Connection String" value="7IvQruF88lJSSLF7uiELezGzJB761XK322oB7tZsVgM0O6w4vdOmxPXjM8St4SdByhMCnzJZPK/CXuFCQVJgjzZ9V7Yt7TqPznbPToGNMDyppFDigRsFaoXTEBEgz7W5OlDkYrtBZnnQ9cOO11nXwRbo8pWCMI2K7cR8ItAP0lM=" />
    <add key="Log Connection String" value="7IvQruF88lJSSLF7uiELezGzJB761XK322oB7tZsVgM0O6w4vdOmxPXjM8St4SdBJdFiKBpzMH9nzAf/KuZFZW+sAnDR3afuKOVOkpMRxUSwVJ3vCj5Q9jh6TZNq7yIS5COkm5YoDX/DYD5mIVAELKDS78NMDj29secrzXo5smQ=" />
  </assemblySettings>
</configuration>