<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <assemblySettings>
    <add key="Primary Connection String" value="PU4xmtDQ5dceUwTLDmPfY7ME/QL8YF+7eqGOcQ1yW84cgGUZoO8bet8gbtAQM+C07VJ2tO5cEV8s8brpg3+uKowDn2qn/r6AGEiy1z4EJI7D+mLX+1STYTMbeuo0c4TjTuWi1e9M+O9a3gcj4/J7as2FhoTf1my2Hm78dR0k2ei6WnXzzhBV5Dv40opx3hQx" />
    <add key="Alternate Connection String" value="PU4xmtDQ5dceUwTLDmPfY7ME/QL8YF+7eqGOcQ1yW87S/Y/gTEe/iBZztAwqGbw5qtGI/P8ddvOEPgdioJeR9Y0sD/ztQRP4cagWTSqwGUAE+wMcKtCqpBkUPlEhiUJ8wwYgiyiCfOL5ElExanLd/704xFX7bkLX5k1n1LI5blH0uDpPlg6AUN3mPyz2etlU" />
    <add key="Streets Connection String" value="PU4xmtDQ5dceUwTLDmPfY7ME/QL8YF+7eqGOcQ1yW84cgGUZoO8bet8gbtAQM+C07VJ2tO5cEV8s8brpg3+uKn+fw2To8RdaYXtNNDu794wNZyicVrT8c1PsE2mFDpMzA++B2YtzK3y3p351HBX8nKraCt6zE/cMn6mlpEIj1hZm2llbhn/R6eplY3Affhyq" />
    <add key="Proxy Connection String" value="PU4xmtDQ5dceUwTLDmPfY7ME/QL8YF+7eqGOcQ1yW84cgGUZoO8bet8gbtAQM+C0abw5tAn2zptKafOLit99mlPPaVAVELa0k4DBM7ffgz/WZiDpb0N/SzaQyYkzPrxYNaI8qQnVRzfywTySL/QDl+Q7WryWgvC5IXIwx8wjUb0=" />
    <add key="Messaging Connection String" value="PU4xmtDQ5dceUwTLDmPfY7ME/QL8YF+7eqGOcQ1yW84cgGUZoO8bet8gbtAQM+C0SXcG3hCbTKPkKo+ATFLnv0sRNUGiFrnr6vFfPLIMLy2RDqukEU4/z3URW6yCx9DRLSAuPiq7z/i5LX4Vt4y8ag+OOrJAu2ciGDtnCVcgFfY=" />
    <add key="Document Connection String" value="PU4xmtDQ5dceUwTLDmPfY7ME/QL8YF+7eqGOcQ1yW84cgGUZoO8bet8gbtAQM+C0dQHUgzWKXbptty+9R1k6AE9cs49DRDHbOQruHgicP2xjqiB42lUr2h+jucPPWtYt1AAP+v8iAGHiiVZ5t6xt3berYEMrXD9FptJjQoxTWi0=" />
    <add key="Log Connection String" value="PU4xmtDQ5dceUwTLDmPfY7ME/QL8YF+7eqGOcQ1yW87S/Y/gTEe/iBZztAwqGbw5qtGI/P8ddvOEPgdioJeR9SZxuahgFUh4N1OFQXxoo1DTWl3fHxCSYDI+WGIhDxqh7BDhpS4Vjljpgo/R/bZwPbd+1ljmRyhqKzfID3QmJbhIijMXyNfie/YBo/YwMzB4" />
  </assemblySettings>
</configuration>