<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <assemblySettings>
    <add key="Primary Connection String" value="Server=tsta2otcsql101;Database=tst_System_940;uid=tritech;pwd=europa" />
    <add key="Alternate Connection String" value="Server=tsta2otcsrv101;Database=tst_System_940;uid=tritech;pwd=europa" />
    <add key="Streets Connection String" value="Server=tsta2otcsql101;Database=tst_Streets_940;uid=tritech;pwd=europa" />
    <add key="Proxy Connection String" value="Server=tsta2otcsql101;Database=Proxy;uid=tritech;pwd=europa" />
    <add key="Messaging Connection String" value="Server=tsta2otcsql101;Database=Messaging;uid=tritech;pwd=europa" />
    <add key="Document Connection String" value="Server=tsta2otcsql101;Database=Document;uid=tritech;pwd=europa" />
    <add key="Log Connection String" value="Server=tsta2otcsrv101;Database=tst_Log_940;uid=tritech;pwd=europa" />
  </assemblySettings>
</configuration>